.audio-bel-1 {
    position: fixed;
    bottom: 0%;
    width: 95%;
    /* top: 78%; */
    left: 0;
    border: 0.4px solid #ccc;
    background: var(--color-bg);
    padding: 0.1rem 1rem;
    /* width: 100%; */
    margin-left: 5%;
    max-height: 15%;
    overflow: hidden;
}
.audio-bel-1 audio {
    width: 100%;
    display: none;
}
.main-audio-con {
    /* transform: translate(-50%, -50%); */
    /* position: relative; */
    /* top: 50%;
    left: 50%; */
    display: flex;
    align-items: center;
}
.main-length {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    width: 100%;
    padding: 0.5rem 0;
}
.audio-more-1 {
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.range-audio {
    width: 65vw;
    margin: 0 1rem;
    height: 0.6rem;
    border-radius: 0.2rem;
    outline: 0;
    accent-color: var(--color-tr-bg);
    height: 0.25rem;
    outline: 0;
    /* background-color: yellow; */
}
.range-audio::-webkit-slider-runnable-track {
    border: 0;
    outline: 0;
}
.range-audio::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0.2rem;
    height: 0.3rem;
    background: var(--color-tr-bg);
    cursor: pointer;
}

.range-audio::-moz-range-track {
    border: none;
    background: #ccc;
    height: 0.4rem;
    width: 98%;
    cursor: pointer;
}

/* IE*/
.range-audio::-ms-fill-lower {
    height: 0.3rem;
    background-color: var(--color-tr-bg); 
    width: 100%;
  }
.range-audio::-moz-range-progress {
    border-radius: 0.2rem;
    background-color: var(--color-tr-bg); 
    height: 100%;
    width: 100%;
  }
.range-audio::-moz-range-thumb{
    width: 0.4rem;
    border-radius: 0.2rem;
    border-color: var(--color-tr-bg);
    height: 0.9rem;
    background: var(--color-tr-bg);
    cursor: pointer;
  }
  .play-icon {
    margin-right: 1rem;
  }
.play-icon span {
    font-size: 3.5rem;
    color: var(--color-tr-bg);
}
.main-aud-title {
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--color-tr-bg);
}
.rem-time {
    color: var(--color-tr-bg);
    min-width: 6rem;
}
.utility-buttons-1 span, .utility-buttons-1 a{
    font-size: 1.5rem;
}
.for-back-1 {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.for-back-1 span {
    cursor: pointer;
    font-size: 1.3rem;
}
.for-back-1 span:hover {
    color: var(--color-tr-bg);
}
.utility-buttons-1 {
    margin: 0 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 1rem;
}
.utility-buttons-1 span:hover {
    color: var(--color-tr-bg);
    cursor: pointer;
    font-weight: 700;
}
.play-icon small {
    display: none;
}
@keyframes anime {
    from {
        bottom: 0%;
        opacity: 1;
    }
    to {
        opacity: 0;
        bottom: -15% !important;
    }
}
.unshow-audio {
    animation-name: anime;
    animation-duration: 2s;
    bottom: -15%;
}
@media screen and (max-width:1100px) {
    .audio-bel-1 {
        width: 100%;
        margin-left: 0;
        padding: 0.4rem 0.5rem;
    }
}
@media screen and (max-width:1024px) {
    .audio-bel-1 {
        padding: 0;
        max-height: 18%;
    }
    .main-audio-con {
        flex-direction: column-reverse;
    }
    .main-length {
        flex-direction: column;
    }
    .main-aud-title {
        padding: 0rem 0.5rem;
    }
    .rem-time {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0.3rem;
    }
    .rem-time small {
        display: none;
    }
    .utility-buttons-1 {display: none;}
    .for-back-1 {
        display: none;
    }
    .audio-more-1 {
        flex-direction: column;
    }
    .range-audio {
        width: 100%;
        margin: 0 0.2rem;
        height: 0.15rem;
    }
    .range-audio::-moz-range-track {
        height: 0.15rem;
    }
    .play-icon {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .play-icon small {
        display: inline-block;
        font-size: 1.5rem;
        color: var(--color-tr-bg);
    }
    .main-view-dashboard {
        height: 72%;
        overflow: auto;
    }
}

